header {
  text-align: center;
}
header a{
  text-align: center;
  background-color: grey;  
  padding: 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#featured-property figcaption{
  text-align: center;
  font-size: small;
}
#featured-property p{
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#details div {
  float: left;
  margin-right: auto;
  }
#details div{
    background-color: red;
    width: 25%;
  }